*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    background-color: bisque;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecera{
    background-color: chartreuse;
    width: 70%;
    height: 50px;
    padding: 0 50px;
}

.cabecera__link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;

}

.cabecera__img{
    object-fit: cover;
    height: 90%;
    margin-right: 10px;
}

.navegacion{
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 60px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.navegacion a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    background-color: blueviolet;
    padding: 25px 50px;
}

.navegacion a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(218, 185, 87);
}

.banner{
    background-image: url(../img/spaghetti-g947692dca_1920.jpg);   
    background-position: center;
    width: 70%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1{
    font-size: 75px;
}

.banner h2{
    font-size: 30px;
}

.banner a{
    background-color: rgb(218, 185, 87);
    width: 250px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 75px;
    color: black;
}

.banner a:hover{
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
}

/*SECCION 2*/
.seccion-2{
    background-color: rgb(203, 231, 196);
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.bloque-izq{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0 3%;
    
}
.izq-titulo{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izq-titulo h2{
    font-size: 20px;
}

.izq-titulo h3{
    font-size: 10px;
    margin-top: 10px;
    color: rgb(114, 114, 114);
}

.noticias-textos p{
    font-size: 15px;
    text-align: justify;
}

.izq-img{
    width: 100%;
    margin: 30px 0;
}

.izq-img img{
    object-fit: cover;
    width: 100%;
}

.izq-parrafo{
    text-align: justify;
    font-size: 18px;
}


/*BLOQUE DERECHO*/

.bloque-der{
    width: 40%;
    height: 100%;
    padding: 0 3%;
    
}

.der-titulo{
    text-align: center;
}

.der-titulo h3{
    font-size: 20px;
}

.der-noticias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
}

.noticias-img{
    width: 50%;
}

.noticias-img img{
    object-fit: cover;
    width: 100%;
}

.noticias-textos{
    width: 50%;
    margin: 0 10px;
}

.noticias-textos h4{
    font-size: 17px;
    text-align: center;
   
}

.noticias-textos p{
    font-size: 15px;
    text-align: justify;
}

.noticias-textos a{
    font-size: 14px;
    margin-top: 10px;
}

/*SECCION TRES*/

.seccion-3{
    background-color: rgb(193, 235, 253);
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.article{
    width: 60%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.tabla-titulo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla-titulo h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.tabla-titulo h3{
    font-size: 18px;
    margin-top: 18px;
    color: rgb(63, 63, 63);
}

.tabla-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 30px 0;
}

.tabla{
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.fila-encabezado{
    background-color: rgb(35, 168, 35);
    width: auto;
    height: 40px;
}

.fila-dato{
    width: auto;
    height: 40px;
}

.fila-dato:nth-child(old){
    background-color: rgb(255, 255, 255);
}

.fila-dato:nth-child(even){
    background-color: rgb(231, 231, 231);
}

.columna{
    border: 1px solid black;
    text-align: center;
}

.rs-div{
    width: 100%;
    height: auto;
}


.rs-img{
    width: 100%;
    height: 40px;
}

.rs-img img{
    object-fit: cover;
    height: 100%;
    height: 0 10px;
}

.aside{
    width: 40%;
    height: 100%;
}

.mapa{
    background-color: aquamarine;
    width: 100%;
    height: 35%;
}
.mapa iframe{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border: 0;
}


.form-div{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    padding: 15px;
}

.form-div h3{
    font-size: 24px;
    padding: 20px 0;
}

.form-div p{
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
}

.formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.input{
    width: 100%;
    height: 35px;
    margin: 5px 0;
    outline: none;
    font-size: 14px;
    padding-left: 5px;
}

.textarea{
    width: 100%;
    height: 80px;
    margin: 5px 0;
    outline: none;
    resize: none;
    font-size: 14px;
    padding-left: 5px
}

.submit{
    width: 50%;
    height: 45px;
    margin: px 0;
    background-color: orange;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

/*SECCION 4*/

.seccion-4{
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion-footer{
    background-color: red;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.navegacion-footer a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 25px 50px;
}

.navegacion-footer a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(218, 185, 87);
}



.contenedor-s4{
    background-color: blueviolet;
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.textos-s4{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textos-s4:nth-child(odd){
    background-color: rgb(65, 61, 61);
}

.textos-s4:nth-child(even){
    background-color: rgb(97, 95, 95);
}
.footer{
    background-color: green;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;   
}

.footer a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}


.footer p{
    font-size: 18px;
}



